In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from sklearn.datasets import load_boston
from sklearn.datasets import load_diabetes

from array import array

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
plt.rc('font', family='serif')

In [3]:
sentinel = {'Calidad' : ['151'], 'Temperatura' : ['-999.0']}
df = pd.read_csv('./TemperaturaSIATA.csv',names=['Año','Día','Hora','Minuto','Segundo','Milisegundo','Temperatura','Calidad','?'],na_values=sentinel)
df = df.dropna(axis = 1, how='all')
df = df.dropna(axis = 0, how='any')
df = df.drop(['Milisegundo','Calidad'],axis=1)
df

         Año  Día  Hora  Minuto  Segundo  Temperatura
0       2017    1     1       0        0         19.2
1       2017    1     1       0        1         19.2
2       2017    1     1       0        2         19.2
3       2017    1     1       0        3         19.2
4       2017    1     1       0        4         19.1
5       2017    1     1       0        5         19.1
6       2017    1     1       0        6         19.1
7       2017    1     1       0        7         19.1
8       2017    1     1       0        8         19.1
9       2017    1     1       0        9         19.0
10      2017    1     1       0       10         19.0
11      2017    1     1       0       11         19.0
12      2017    1     1       0       12         19.0
13      2017    1     1       0       13         19.0
14      2017    1     1       0       14         19.0
15      2017    1     1       0       15         18.9
16      2017    1     1       0       16         18.9
17      2017    1     1       0       17         18.9
18      2017    1     1       0       18         18.9
19      2017    1     1       0       19         18.9
20      2017    1     1       0       20         18.9
21      2017    1     1       0       21         18.9
22      2017    1     1       0       22         18.9
23      2017    1     1       0       23         18.9
24      2017    1     1       0       24         18.9
25      2017    1     1       0       25         18.9
26      2017    1     1       0       26         18.9
27      2017    1     1       0       27         19.0
28      2017    1     1       0       28         18.9
29      2017    1     1       0       29         18.9
...      ...  ...   ...     ...      ...          ...
378690  2017    9    20      23       30         20.3
378691  2017    9    20      23       31         20.3
378692  2017    9    20      23       32         20.3
378693  2017    9    20      23       33         20.3
378694  2017    9    20      23       34         20.3
378695  2017    9    20      23       35         20.3
378696  2017    9    20      23       36         20.2
378697  2017    9    20      23       37         20.2
378698  2017    9    20      23       38         20.2
378699  2017    9    20      23       39         20.1
378700  2017    9    20      23       40         20.1
378701  2017    9    20      23       41         20.1
378702  2017    9    20      23       42         20.1
378703  2017    9    20      23       43         20.1
378704  2017    9    20      23       44         20.1
378705  2017    9    20      23       45         20.1
378706  2017    9    20      23       46         20.1
378707  2017    9    20      23       47         20.1
378708  2017    9    20      23       48         20.1
378709  2017    9    20      23       49         20.1
378710  2017    9    20      23       50         20.1
378711  2017    9    20      23       51         20.1
378712  2017    9    20      23       52         20.0
378713  2017    9    20      23       53         20.1
378714  2017    9    20      23       54         20.0
378715  2017    9    20      23       55         20.0
378716  2017    9    20      23       56         20.0
378717  2017    9    20      23       57         20.0
378718  2017    9    20      23       58         20.0
378719  2017    9    20      23       59         20.0

[367805 rows x 6 columns]

In [4]:
df['ColumnA'] = df[df.columns[:-1]].apply(lambda x: '/'.join(x.dropna().astype(int).astype(str)),axis=1)
df2 = pd.DataFrame()
df2['Fecha'] = df['ColumnA']
df2['Temperatura en Centigrados'] = df['Temperatura']
df2

                  Fecha  Temperatura en Centigrados
0          2017/1/1/0/0                        19.2
1          2017/1/1/0/1                        19.2
2          2017/1/1/0/2                        19.2
3          2017/1/1/0/3                        19.2
4          2017/1/1/0/4                        19.1
5          2017/1/1/0/5                        19.1
6          2017/1/1/0/6                        19.1
7          2017/1/1/0/7                        19.1
8          2017/1/1/0/8                        19.1
9          2017/1/1/0/9                        19.0
10        2017/1/1/0/10                        19.0
11        2017/1/1/0/11                        19.0
12        2017/1/1/0/12                        19.0
13        2017/1/1/0/13                        19.0
14        2017/1/1/0/14                        19.0
15        2017/1/1/0/15                        18.9
16        2017/1/1/0/16                        18.9
17        2017/1/1/0/17                        18.9
18        2017/1/1/0/18                        18.9
19        2017/1/1/0/19                        18.9
20        2017/1/1/0/20                        18.9
21        2017/1/1/0/21                        18.9
22        2017/1/1/0/22                        18.9
23        2017/1/1/0/23                        18.9
24        2017/1/1/0/24                        18.9
25        2017/1/1/0/25                        18.9
26        2017/1/1/0/26                        18.9
27        2017/1/1/0/27                        19.0
28        2017/1/1/0/28                        18.9
29        2017/1/1/0/29                        18.9
...                 ...                         ...
378690  2017/9/20/23/30                        20.3
378691  2017/9/20/23/31                        20.3
378692  2017/9/20/23/32                        20.3
378693  2017/9/20/23/33                        20.3
378694  2017/9/20/23/34                        20.3
378695  2017/9/20/23/35                        20.3
378696  2017/9/20/23/36                        20.2
378697  2017/9/20/23/37                        20.2
378698  2017/9/20/23/38                        20.2
378699  2017/9/20/23/39                        20.1
378700  2017/9/20/23/40                        20.1
378701  2017/9/20/23/41                        20.1
378702  2017/9/20/23/42                        20.1
378703  2017/9/20/23/43                        20.1
378704  2017/9/20/23/44                        20.1
378705  2017/9/20/23/45                        20.1
378706  2017/9/20/23/46                        20.1
378707  2017/9/20/23/47                        20.1
378708  2017/9/20/23/48                        20.1
378709  2017/9/20/23/49                        20.1
378710  2017/9/20/23/50                        20.1
378711  2017/9/20/23/51                        20.1
378712  2017/9/20/23/52                        20.0
378713  2017/9/20/23/53                        20.1
378714  2017/9/20/23/54                        20.0
378715  2017/9/20/23/55                        20.0
378716  2017/9/20/23/56                        20.0
378717  2017/9/20/23/57                        20.0
378718  2017/9/20/23/58                        20.0
378719  2017/9/20/23/59                        20.0

[367805 rows x 2 columns]